@media screen and (max-width: 1000px) {
	.overall_list .dark_table tr {
		border-radius: 0px !important;
	}
	.dark_table tr td:first-child {
		border-top-left-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}
	.dark_table tr td:last-child {
		border-top-right-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
	}
	.dark_table tr td:first-child {
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 0px;
	}
	.dark_table tr td:last-child {
		border-bottom-right-radius: 0px !important;
		border-top-right-radius: 0px !important;
	}
}

// responsive table

.dark_table tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.dark_table th {
	display: none;
}
.dark_table td {
	display: block;
}
.dark_table td:first-child {
	padding-top: 0.5em;
}
.dark_table td:last-child {
	padding-bottom: 0.5em;
}
.dark_table td:before {
	content: attr(data-th) ": ";
	// content: attr(data-th) ": ";
	font-weight: bold;
	width: 100%;
	display: block;
	margin-bottom: 1em;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}
@media (min-width: 980px) {
	.dark_table td:before {
		display: none;
	}
}
.dark_table th,
.dark_table td {
	text-align: left;
}
@media (min-width: 1000px) {
	.dark_table th,
	.dark_table td {
		display: table-cell;
		padding: 0.25em 0.5em;
	}
	.dark_table th:first-child,
	.dark_table td:first-child {
		padding-left: 0;
	}
	.dark_table th:last-child,
	.dark_table td:last-child {
		padding-right: 0;
	}
}

.dark_table {
	// background: #34495e;
	color: #fff;
	border-radius: 0.4em;
	overflow: hidden;
}
.dark_table tr {
	// border-color: #46637f;
}
.dark_table th,
.dark_table td {
	margin: 0.5em 1em;
}
@media (min-width: 480px) {
	.dark_table th,
	.dark_table td {
		padding: 1em !important;
	}
}
.dark_table th,
.dark_table td:before {
	color: #fff;
}

// responsive table

// @media only screen and (min-width: 980px) {

// 	.content_list .dataTable tr td:nth-child(3), .content_list .dataTable tr th:nth-child(3) {
// 		// max-width: 85vw!important;
// 		// width: 100%!important;
// 	}

// }
